.circle-progress {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.circle-progress-background {
    fill: none;
    stroke: whitesmoke;
    r: 270px;
}
  
.circle-progress-bar {
    fill: none;
    stroke: var(--color-graphs);
    transition: stroke-dashoffset 0.5s;
    stroke-width: 60px;
    r: 270px;
}
  
.circle-progress-text {
    fill: var(--color-text);
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 36px;
    text-anchor: middle;
}